{% extends 'layout.html' %}

{% block title %}YouTube Kapatıldı Mı?{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ static('css/home.min.css') }}" />{% endblock %}

{% block content %}
<br /><br /><br /><br />
<div class="row">
    <div class="medium-offset-2 medium-8 columns end">

        <div class="panel text-center">
            <h2>YouTube kapatıldı mı?</h2>
            <hr />

            <table width="100%">
                <thead>
                    <tr>
                        <th width="75%">DNS</th>
                        <th width="25%">Erişilebilirlik</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td class="text-left">8.8.8.8</td>
                        <td class="text-left">Ne bileyim?</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <p class="left">© 2014 <a href="http://www.barissencan.com">Barış Şencan</a></p>

        <!--
            GitHub falan,
            Apache 2.0 falan,
            Açık kaynak falan,
            Programcı kızlar eklesin.
        -->
        <a class="right" href="https://github.com/isair/youtubekapatildimi">GitHub</a>

    </div>
</div>
{% endblock %}