{% extends 'layout.html' %}

{% block title %}YouTube Kapatıldı Mı?{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ static('css/home.min.css') }}" />{% endblock %}

{% block content %}
<br /><br /><br /><br />
<div class="row">
    <div class="medium-offset-2 medium-8 columns end">

        <div class="panel">
            <h2 class="text-center">YouTube kapatıldı mı?</h2>
            <hr />

            <table width="100%">
                <thead>
                    <tr>
                        <th width="70%">DNS</th>
                        <th width="30%">Erişilebilirlik</th>
                    </tr>
                </thead>

                <tbody>
                    {% for dns in dns_list %}
                        <tr>
                            <td class="text-left">
                                {{ dns }}
                                <small>
                                    {% for ip in dns_list[dns] %}
                                        {{ ip }}
                                        {% if not loop.last %},{% endif %}
                                    {% endfor %}
                                </small>
                            </td>
                            <td class="text-left">
                                {% if status_for[dns] == 'up' %}
                                    Açık
                                {% elif status_for[dns] == 'court_blocked' %}
                                    Mahkeme Engelli
                                {% elif status_for[dns] == 'down' %}
                                    Sayfa Açılmıyor
                                {% elif status_for[dns] == 'dns_down' %}
                                    DNS Erişilemiyor
                                {% else %}
                                    Bilinmiyor
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <p class="left">© 2014 <a href="http://www.barissencan.com">Barış Şencan</a></p>

        <!--
            GitHub falan,
            Apache 2.0 falan,
            Açık kaynak falan,
            Programcı kızlar eklesin.
        -->
        <a class="right" href="https://github.com/isair/youtubekapatildimi">GitHub</a>

    </div>
</div>
{% endblock %}