<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ static('css/foundation.min.css') }}" />
        {% block css %}{% endblock %}
        <script src="{{ static('js/modernizr.js') }}"></script>
    </head>
    <body>
        {% block content %}{% endblock %}
        <script src="{{ static('js/jquery.js') }}"></script>
        <script src="{{ static('js/foundation.min.js') }}"></script>
        <script>
            $(document).foundation();
        </script>
        {% block js %}{% endblock %}
    </body>
</html>